# Ignore node_modules
**/node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore build files
**/build
**/dist

# Ignore temporary files
.DS_Store
Thumbs.db
node_modules/
